flows (4).json
[{"id":"2d2185c2.42b1ba","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ac238a1.311598","type":"function","z":"2d2185c2.42b1ba","name":"PreToken","func":"global.set(\"pr\",msg.payload.pr)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pre\",msg.payload.pre)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"FwXkQjFUNLrI7yWtEF7lq-qlNPyYeifHHlYhyzK5wxoL\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":720,"wires":[["5abd7a5e.2c5094"]]},{"id":"5abd7a5e.2c5094","type":"http request","z":"2d2185c2.42b1ba","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":708.9999952316284,"wires":[["c6c778e6.c5c0f8"]]},{"id":"ef3c1c7e.97313","type":"debug","z":"2d2185c2.42b1ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":898.0000114440918,"y":450.99999713897705,"wires":[]},{"id":"c6c778e6.c5c0f8","type":"function","z":"2d2185c2.42b1ba","name":"Pre Prediction","func":"var pr = global.get('pr')\nvar pl = global.get('pl')\nvar pre = global.get('pre')\nvar sk = global.get('sk')\nvar te = global.get('te')\nvar ma = global.get('ma')\nvar pe = global.get('pe')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"43bfa817-9c7d-4f71-a865-399872d02db4\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"], \"values\": [[pr,pl,pre,sk,te,ma,pe,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":671.9999990463257,"wires":[["47de38dd.02b2d8"]]},{"id":"47de38dd.02b2d8","type":"http request","z":"2d2185c2.42b1ba","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-de.ml.cloud.ibm.com/v4/deployments/154c80ed-741d-4ffc-9ce9-aa54904a5cda/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":615.9999990463257,"wires":[["a6e24b28.4ea0e8","ef3c1c7e.97313"]]},{"id":"f27762e6.ea4d2","type":"ui_form","z":"2d2185c2.42b1ba","name":"","label":"","group":"242341d1.608dce","order":1,"width":0,"height":0,"options":[{"label":"Cement ","value":"pr","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag ","value":"pl","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"pre","type":"number","required":true,"rows":null},{"label":"Water","value":"sk","type":"number","required":true,"rows":null},{"label":"Superplasticizer","value":"te","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate","value":"ma","type":"number","required":true,"rows":null},{"label":"Fine Aggregate","value":"pe","type":"number","required":true,"rows":null},{"label":"Age(day)","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pr":"","pl":"","pre":"","sk":"","te":"","ma":"","pe":"","ag":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":55,"y":762.9999952316284,"wires":[["8ac238a1.311598"]]},{"id":"c76ff2e5.c6747","type":"ui_text","z":"2d2185c2.42b1ba","group":"242341d1.608dce","order":2,"width":0,"height":0,"name":"","label":"Concrete compressive strength(MPa, megapascals) ","format":"{{msg.payload}}","layout":"row-spread","x":917.6000366210938,"y":768.2000074386597,"wires":[]},{"id":"a6e24b28.4ea0e8","type":"function","z":"2d2185c2.42b1ba","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":511.60000133514404,"wires":[["c76ff2e5.c6747"]]},{"id":"242341d1.608dce","type":"ui_group","z":"","name":"internship","tab":"febcffef.7dc1e","order":1,"disp":true,"width":"6","collapse":false},{"id":"febcffef.7dc1e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]